# To run the firewall as a systemd service 
# copy this unit file to "/etc/systemd/system/"
# execute "sudo systemctl daemon-reload && sudo systemctl restart firewall && sudo systemctl enable firewall && sudo systemctl status firewall"

[Unit]
Description=Firewall Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/firewall/firewall.conf
StandardOutput=syslog
WorkingDirectory=/opt/firewall

[Install]
WantedBy=multi-user.target

